*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__list{
    display: flex;
    gap: 20px;
    list-style: none;
}
.icon{
    display: none !important;
      font-size: 26px;
      cursor: pointer;
}
@media (max-width: 768px) {
  .nav__list {
    display: none;
    position: absolute;
    top: 60px;
    right: 0;
    background: #222;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .nav__list.active {
    display: flex;
  }

  .icon {
    display: block !important;
  }
}